@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 6rem;
}

body {
  font-family: "DM Sans", sans-serif;
}

.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
}